.calculator {
  background-color: #000000;
  border-radius: 20px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  gap: 12px;
  justify-content: center;
}